<div class="container my-3">
      <div class="header d-flex justify-content-between">
    <button onclick="location.href='/api/productos'" style="padding: 12px; border: 1px solid #000; border-radius: 100%; background: transparent;"><h1>HOME</h1></button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; color:#000; border: none;">
        <img src={{data.imgUrl}} alt="avatar" style="width: 100px; max-height: 80px; border-radius: 100%;"/>
      </button>
      <ul class="dropdown-menu">
        <li>
          <button
            class="dropdown-item"
            onclick="location.href='/api/perfil'"
          >
            Perfil
          </button>
        </li>
        <li>
          <button
            class="dropdown-item"
            onclick="location.href='/api/carrito'"
          >
            Carrito
          </button>
        </li>
        <li>
          <button
              class="dropdown-item"
              onclick="location.href='/api/chat'"
          >
            Chat
          </button>
        </li>
        <li>
          <button
            class="dropdown-item"
            onclick="location.href='/api/logout'"
          >
            Salir
          </button>
        </li>
      </ul>
    </div>
  </div>

    <div class="container mt-3 d-flex flex-column align-items-center">
        <img src={{data.imgUrl}} alt="User image" style="width: 200px; max-height: 150px; border-radius: 100%;">
        <div class="container mt-4">
            <div>
                <strong>Usuario:</strong>
                <span>{{data.username}}</span>
            </div>

            <div>
                <strong>Email:</strong>
                <span>{{data.email}}</span>
            </div>

            <div>
                <strong>Dirección:</strong>
                <span>{{data.direction}}</span>
            </div>

            <div>
                <strong>Año de nacimiento:</strong>
                <span>{{data.birthDate}}</span>
            </div>

            <div>
                <strong>Teléfono:</strong>
                <span>+{{data.phoneNumber}}</span>
            </div>
        </div>
    </div>
</div>